<header>
   <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:black"><b>WELCOME TO ADMIN PAGE !!</b></h1><br>
   
   <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand" style="color: whitesmoke;"
          ><strong>CapStore</strong></span>
      </div>
  
      <ul class="nav navbar-nav">
        <li style="color: whitesmoke;"><a routerLink="/signup">Add Merchnat</a></li>
        <li style="color: whitesmoke;"><a routerLink="/addDiscount">Add Discount</a></li>
        <li style="color: whitesmoke;"><a routerLink="/addPromocode">Add Promocode</a></li>
        <li style="color: whitesmoke;"><a routerLink="/showCustomer">Customer Details</a></li>
        <li style="color: whitesmoke;"><a routerLink="/showMerchant">Merchnat Details</a></li>
        <li style="color: whitesmoke;"><a routerLink="/showProduct">Product List</a></li>
        <li style="color: whitesmoke;"><a routerLink="/showDiscount">Show Discount</a></li>
        <li style="color: whitesmoke;"><a routerLink="/showPromocode">Show Promocode</a></li>
        <li style="color: whitesmoke;"><a routerLink="/PendingFeedbacks">Pending Feedbacks</a></li>
        <li style="color: whitesmoke;"><a routerLink="/login">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>

<div>
  <div id="slideshow">
    <div class="slide-wrapper">
      <div class="slide"><a (click)="show()"><img style="width: 728px; height: 405px;" src="https://c8.alamy.com/comp/2AKGW7J/grocery-shopping-promotional-sale-advertisement-fast-shopping-cart-full-of-fresh-colorful-food-2AKGW7J.jpg"/></a></div>
      <div class="slide"><a (click)="show()"><img style="width: 728px; height: 310px;" src="https://dtkshop.com/image/cache/catalog/home/slider-01-1903x700-1903x700.jpg"/></a></div>
      <div class="slide"><a (click)="show()"><img style="width: 728px; height: 310px;" src="https://bmfshopcart.com/image/catalog/demo/slider/mobile_slide/slide1.jpg"/></a></div>
      <div class="slide"><a (click)="show()"><img style="width: 728px; height: 405px;" src="https://images.moneycontrol.com/static-mcnews/2020/04/1-grocery-shopping.jpg"/></a></div>
      </div>
  </div>
  </div>
<br>

